# ==========================
# Java / Maven
# ==========================
target/
*.class
*.jar
*.war
*.ear
*.iml
.mvn/
mvnw
mvnw.cmd

# ==========================
# Node / WebApp
# ==========================
node_modules/
dist/
build/

# ==========================
# IDE / Tools
# ==========================
.idea/
.vscode/
*.swp
*.swo
*.log

# ==========================
# Docker
# ==========================
*.pid
*.seed
uploads/

# ==========================
# Environment files (Secrets)
# ==========================
.env
.env.*
!.env.example   # giữ lại file mẫu

# ==========================
# System
# ==========================
.DS_Store
Thumbs.db
