window._env_ = {
  REACT_APP_API_GATEWAY: "$REACT_APP_API_GATEWAY",
  REACT_APP_CLIENT_ID: "$REACT_APP_CLIENT_ID",
  REACT_APP_AUTH_REDIRECT_URL: "$REACT_APP_AUTH_REDIRECT_URL",
  REACT_APP_SOCKET_URL: "$REACT_APP_SOCKET_URL"
};